<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.czy.htyj">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme"
        >

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="fb96e12a76ab5fe7c85c24b23c9d830a" />

        <service
            android:name=".CallService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>